@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: Passion One, sans-serif;
    --fonte3: Sriracha, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1)
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte2); 
    font-size: 5vw;  
}

 header > p {
    padding-bottom: 50px;
 }

a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
    line-height: 2em;
}

section > p {
    padding: 5px 5px 5px 12px;
}


.normal {
    background-color: white;
    color: black;

}

#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

.imagem {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0,0,0, 0.473);
    background-attachment: fixed;
    background-size: cover;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.475);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}